body {
    font-size: 1.2rem;
}

.container-custom {
    padding-top: 30px;
}
.container {
    padding-top: 5px;
    padding-bottom: 5px;
}
.container-custom form {
    display: block;
    gap: initial; 
    grid-template-columns: initial;
    justify-items: initial;
    margin-left: initial;
    margin-right: initial;
    max-width: initial; 
  }
